{#<!DOCTYPE html>#}
{#<html lang="es">#}
{#<head>#}
    {#<meta charset="utf-8">#}

    {#<title>Cedula de Notificacion</title>#}
    {#<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>#}
    {#<link rel="stylesheet" type="text/css" href="css/cedula_prn.css"/>#}


{#</head>#}
{#<body>#}
{% set dom = entity.automotor %}
{% extends '::layout.html.twig' %}
 {% block stylesheets %}

 {% endblock %}

{% block id 'mod_Infraccion' %}

    {% block title %}
        Acta-S{{ "%08d" | format(entity.nroInfraccion) }}{{ dom.dominio }}
    {% endblock %}

    {% block page %}


        <div id="rep_hoja">
            <div class="rep_margen">
                <div class="rep_header">
                    <img src="{{ asset('uploads/' ~ entity.municipio.logo ) }}" class="rep_logo">

                    <div class="rep_logo_text">
                        <strong style="font-size: 10px">{{ entity.municipio.nombre | upper }}</strong><BR>
                        <strong style="font-size: 9px">{{ 'Provincia de '~entity.municipio.provincia }}</strong><BR>
                        {{ entity.municipio.direccion }}<br>
                        {{ entity.municipio.codigoPostal ~ ', '~ entity.municipio.localidad ~ ' - ' ~ entity.municipio.provincia }}
                    </div><BR><BR>
                    <div class="rep_titulo">ACTA DE INFRACCION DE TRANSITO</div><br>
                </div>

                <div class="rep_contenido row-fluid">
                    <div >Nº de Acta: S{{ "%08d" | format(entity.nroInfraccion) }} </div><BR>
                    <div class="spa" style="padding-top: 5px;">
                        <table class="tab_infra">
                            <tr>
                                <th colspan="1">Apellido y Nombre:</th>
                                <th colspan="1">DNI/CUIT:</th>
                                <th colspan="3">Infracción Imputada:</th>
                            </tr>
                            <tr>
                                <td colspan="1">{{ dom.nombre }}</td>
                                <td colspan="1">
                                    {% if dom.dni and dom.CuitCuil %}
                                        DNI {{ dom.dni | number_format(0, ',', '.') }} - CUIT {{ dom.CuitCuil | cuitformat}}
                                    {% else %}
                                        {% if dom.dni %}
                                            DNI {{ dom.dni | number_format(0, ',', '.') }}
                                        {% endif %}
                                        {% if dom.CuitCuil %}
                                            CUIT {{ dom.CuitCuil | cuitformat }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td colspan="3">{{ entity.tipoInfraccion }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Domicilio:</th>
                                <th colspan="3">Lugar:</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ dom.domicilio }}</td>
                                <td colspan="3">{{ entity.ubicacion }}</td>
                            </tr>
                            <tr>
                                <th>Localidad:</th>
                                <th>Cód. Postal</th>
                                <th colspan="1">Fecha:</th>
                                <th colspan="1">Hora:</th>
                                <th>Dominio:</th>
                            </tr>
                            <tr>
                                <td>{{ dom.localidad }}</td>
                                <td>{{ dom.codigoPostal }}</td>
                                <td>{{ entity.fecha | date('d/m/Y') }}</td>
                                <td>{{ entity.fecha | date('H:i:s') }}</td>
                                <td rowspan="1"><strong style="font-size: 14px;">{{ dom.dominio }}</strong></td>

                            </tr>
                            <tr>
                                <th colspan="2">Provincia</th>
                                <th colspan="1">Marca:</th>
                                <th colspan="2">Modelo:</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ dom.provincia }}</td>
                                <td colspan="1">{{ dom.marca }}</td>
                                <td colspan="2">{{ dom.modelo }}</td>
                            </tr>


                        </table>

                    </div>
                </div>
                <div class="separador">
                    <p>
                        Disposición legal infringida: <strong>Ley Nacional de Tránsito N°24.449, Mod. Y Reg. Vigente
                            CC.</strong></p>


                    <div class="row-fluid">
                        <div class="span7 rep_nota"><br>

                        </div>
                        <div class="span5" style="text-align: center;">
                            <img src="{{ asset( 'uploads/' ~ entity.municipio.firma) }}" style="width: 4.5cm;">
                        </div>

                    </div>
                </div>
                <div class="separador">
                    {% if entity.tipoInfraccion.cantidadFoto <= 2 %}
                    <div class="separador">
                        <h5>Foto Nro. 1</h5>
                        <img class="fotoinfra" src="{{ asset(infraccion.infracciones.dir~ entity.fecha| date('Ym') ~ '/' ~ entity.foto1  ) }}"
                              style="width: 300px" />
                    </div>
                    {% if entity.tipoInfraccion.cantidadFoto >= 2 %}
                    <div class="separador">
                        <h5>Foto Nro. 2</h5>
                            <img class="fotoinfra" src="{{ asset(infraccion.infracciones.dir ~ entity.fecha| date('Ym') ~ '/' ~ entity.foto2) }}"
                                 style="width: 300px" />
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if entity.tipoInfraccion.cantidadFoto >= 3 %}
                        <div class="separador pull-right" >
                            <h5>Foto Nro. 2</h5>
                            <img class="fotoinfra" src="{{ asset(infraccion.infracciones.dir ~ entity.fecha| date('Ym') ~ '/' ~ entity.foto2) }}"
                                 style="width: 300px" />
                        </div>
                        <div class="separador">
                            <h5>Foto Nro. 1</h5>
                            <img class="fotoinfra" src="{{ asset(infraccion.infracciones.dir~ entity.fecha| date('Ym') ~ '/' ~ entity.foto1  ) }}"
                                 style="width: 300px" />
                        </div>

                        <div class="separador">
                            <h5>Foto Nro. 3</h5>
                            <img class="fotoinfra" src="{{ asset(infraccion.infracciones.dir ~ entity.fecha| date('Ym') ~ '/' ~ entity.foto3) }}"
                                 style="width: 300px" />
                        </div>
                    {% endif %}
                </div>





            </div>
        </div>
    {% endblock page %}
    {#</body>#}
{#</html>#}





