<ul class="nav">
    {#class="active"#}
    <li><a href="#"><span class="ico"><i class="icon-home"></i></span><span class="text">Monitor</span></a></li>
    <li><a href="{{ path('foto_manager_subirfoto') }}"><span class="ico"><i class="icon-camera"></i></span><span class="text">Subir Fotos</span></a></li>
    <li><a href="{{ path('importar_infraccion') }}"><span class="ico"><i class="icon-check"></i></span><span class="text">Importar infracciones</span></a></li>

    {#<li><a href="#"><span class="ico"><i class="icon-bold"></i></span><span class="text">Verificar Fotografia</span></a></li>#}
    {#<li><a href="#"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Verificar Personas</span></a></li>#}
    <li><a href="{{ path('municipio') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Municipios</span></a></li>
    <li><a href="{{ path('ubicacion') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Lugares de Control</span></a></li>
    <li><a href="{{ path('tipoinfraccion') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Tipos de Infracciones</span></a></li>
    <li><a href="{{ path('automotor') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Automotores</span></a></li>
    <li><a href="{{ path('automotor_importar') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Automotores Importar</span></a></li>

    <li><a href="{{ path('usuario') }}"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Usuario</span></a></li>

    {#<li><a href="charts.html"><span class="ico"><i class="icon-signal"></i></span><span class="text">Charts</span></a></li>#}
    {#<li><a href="components.html"><span class="ico"><i class="icon-inbox"></i></span><span class="text">Components</span></a></li>#}
    {#<li><a href="interface-elements.html"><span class="ico"><i class="icon-tasks"></i></span><span class="text">Interface elements</span></a></li>#}
    {#<li><a href="grid.html"><span class="ico"><i class="icon-th"></i></span><span class="text">Grid</span></a></li>#}
    {#<li><a href="calendar.html"><span class="ico"><i class="icon-calendar"></i></span><span class="text">Calendar</span></a></li>#}
    {#<li>#}
        {#<a href="#"><span class="ico"><i class="icon-align-justify"></i></span><span class="text">Submenu test</span><span class="indicator"></span></a>#}
        {#<ul>#}
            {#<li><a href="#"><span class="ico"><i class="icon-tint"></i></span><span class="text">Submenu One</span></a></li>#}
            {#<li><a href="#"><span class="ico"><i class="icon-leaf"></i></span><span class="text">Submenu Two</span></a></li>#}
            {#<li><a href="#"><span class="ico"><i class="icon-fire"></i></span><span class="text">Submenu Three</span></a></li>#}
        {#</ul>#}
    {#</li>#}
</ul>