{% extends "::layout.html.twig" %}
{% block id  'mod_automotor_exp' %}

    {% block title %}
        {{ parent() }} - Exportación de Dominios para pedido
    {% endblock %}


    {% block page %}
        <section id="automotor">

            {% embed 'box.html.twig' with {'box_titulo': 'Exportar Dominios datos para pedidos de Info.' } %}
            {% block rigth_title %}
            {% endblock %}
            {% block box_contenido %}
            <div class="row-fluid">
                <div class="span12" style="margin-top: 0;">
                    <section id="Automotor">
                        {{ wo_render_breadcrumbs() }}
                        {% for type, flashMessages in app.session.flashbag.all() %}
                            {% for flashMessage in flashMessages %}
                                <div class='alert alert-{{ type }}'>
                                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <div class="row-fluid">
                            <div class="span12">
                                <div class="alert alert-block">
                                    <strong>
                                        Nota: La exportación se realiza en un archivo Excel 2007, permitiendo un
                                        numero maximo de 10000 registros.
                                    </strong>
                                </div>
                                <form action="{{ path('automotor_exportar') }}" method="post" {{ form_enctype(form) }}>
                                    <div class="row-fluid">

                                        <div class="span4" style="border: #aaaaaa solid thin; padding: 8px; ">
                                            {#{{ form_widget(form.usarFecha) }}#}

                                            <div id="fechas" style="margin: 8px; ">
                                                {{ form_row(form.fechaInicio) }}
                                                {{ form_row(form.fechaFinal) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form) }}
                                    <div class="form-actions">
                                        <button class="btn btn-success brn_importar" type="submit">Procesar.
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </section>


                </div>

                {% endblock box_contenido %}
                {% endembed %}
        </section>
        <script type="text/javascript">
            //                        $(document).ready(function () {
            //                            var checked = $('#infraccion_verificacionbundle_exportartype_usarFecha').is(':checked') ? 1 : 0;
            //                            showFechas(checked);
            //
            //                            $('#infraccion_verificacionbundle_exportartype_usarFecha').click(function () {
            //                                var checked = $('#infraccion_verificacionbundle_exportartype_usarFecha').is(':checked') ? 1 : 0;
            //                                showFechas(checked);
            //                            });
            //
            //                            function showFechas(fec) {
            //                                if (fec == 1) {
            //                                    $('#fechas').show();
            //                                } else {
            //                                    $('#fechas').hide();
            //                                }
            //                            }
            //
            //
            //                        });

            $('#infraccion_verificacionbundle_exportartype_fechaInicio').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                showWeek: true,
                firstDay: 1,
                defaultDate: "-2w",
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#infraccion_verificacionbundle_exportartype_fechaFinal").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#infraccion_verificacionbundle_exportartype_fechaFinal').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                showWeek: true,
                firstDay: 1,
//                            defaultDate: "",
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#infraccion_verificacionbundle_exportartype_fechaInicio").datepicker("option", "maxDate", selectedDate);
                }
            });


        </script>
    {% endblock %}