{% extends "::layout.html.twig" %}
{% block id  'mod_automotor_exp' %}

    {% block title %}
        {{ parent() }} - Automotor {{ 'views.index.list'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
    {% endblock %}


    {% block page %}
        <section id="automotor">

            {% embed 'box.html.twig' with {'box_titulo': 'Exportar datos para actualización de dominio.' } %}
            {% block rigth_title %}
            {% endblock %}
            {% block box_contenido %}
            <div class="row-fluid">
                <div class="span12" style="margin-top: 0;">
                    <section id="Automotor">
                        {{ wo_render_breadcrumbs() }}
                        {% for type, flashMessages in app.session.flashbag.all() %}
                            {% for flashMessage in flashMessages %}
                                <div class='alert alert-{{ type }}'>
                                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <div class="row-fluid">
                            <div class="span12">

                                <div class="alert alert-block">
                                    <blockquote>
                                        <strong>
                                            Nota: La exportación se realiza en un archivo Excel 2007, permitiendo un
                                            numero maximo de 10000 registros.
                                        </strong>
                                    </blockquote>
                                </div>
                                <form action="{{ path('automotor_exportar') }}" method="post" {{ form_enctype(form) }}>
                                    <div class="row-fluid">

                                        <div class="span4" style="border: #aaaaaa solid thin; padding: 8px; ">
                                            {{ form_widget(form.usarFecha) }}

                                            <div id="fechas" style="margin: 8px; display: none;">
                                                {{ form_row(form.fechaInicio) }}
                                                {{ form_row(form.fechaFinal) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form) }}
                                    <div class="form-actions">
                                        <button class="btn btn-success brn_importar" type="submit">Procesar.
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </section>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var checked = $('#infraccion_verificacionbundle_exportartype_usarFecha').is(':checked') ? 1 : 0;
                            showFechas(checked);

                            $('#infraccion_verificacionbundle_exportartype_usarFecha').click(function () {
                                var checked = $('#infraccion_verificacionbundle_exportartype_usarFecha').is(':checked') ? 1 : 0;
                                showFechas(checked);
                            });

                            function showFechas(fec) {
                                if (fec == 1) {
                                    $('#fechas').show();
                                } else {
                                    $('#fechas').hide();
                                }
                            }


                        });


                    </script>

                </div>

                {% endblock box_contenido %}
                {% endembed %}
        </section>

    {% endblock %}